
.dialogHeader{
    display: flex;
    align-content: center;
    justify-content: center;

}

.dialogFields{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

mat-form-field{
    width: 100%;
}

.dialogInput
{
    align-content: center;  
    width: 100%;
}

.dialogButtons{
    flex: 1;
    margin: 0 1rem 1rem 1rem;
}
